/* src/components/Logo/Logo.css */
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-img {
    height: 55px; /* Adjust as needed */
    cursor: pointer;
  }
  