


/* src/components/Footer.css */
.footer {
    background-color: #f8f8f8; 
    color: #848884;
    padding: 2rem 0;
  }
  
  .footer a {
    font-size: 1rem;
    color: 	#848884;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: none;
  }
  
  .footer h5 {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer .social-icons i {
    font-size: 1.5rem;
  }
.link{
 
    width: 100%;
}
 
.footer-text {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #b0b0b0;
    text-align: justify;
    margin-top: 1.5rem;
  }
  
  .footer .text-center {
    border-top: 1px solid #444;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  